* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --fs-small: 14px;
  --fs-medium: 18px;
  --fs-large: 26px;

  --color-bg-primary: rgb(20, 20, 25);
  --color-bg-secondary: rgb(232, 74, 56);

  --color-white: white;
  --color-gray: rgb(200, 200, 200);
  --color-dark-gray: rgb(100, 100, 100);
}

a {
  color: inherit;
  text-decoration: none;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear infinite;
}

.loader__text {
  font-size: var(--fs-large);
  margin-top: 0.5rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  text-align: center;
}

.header {
  padding: 0.5rem 2rem;
  background-color: var(--color-bg-secondary);
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-white);
  min-height: 100vh;
}

.main {
  padding: 1rem 2rem;
}

.film-cards {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.film-card {
  cursor: pointer;
  width: 100%;
  transition: 0.3s ease;
}

.film-card:hover {
  scale: 1.05;
}

.film-card__image {
  width: 100%;
  aspect-ratio: 2/3;
}

.film-card__text-container {
  height: 80px;
}

.film-card__text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.film-card__title,
.film-card__date {
  color: var(--color-gray);
}

.film-card__title {
  font-size: var(--fs-medium);
  font-weight: 100;
}

.film-card__date {
  font-size: var(--fs-small);
}

.film-card__rate {
  font-size: var(--fs-large);
  font-weight: bold;
}

.pagination {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.pagination__page {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--color-gray);
  color: var(--color-gray);
  width: 32px;
  height: 32px;
  border-radius: 10px;
  font-size: var(--fs-medium);
  background-color: transparent;
}

.pagination__page:hover {
  background-color: var(--color-gray);
  color: var(--color-dark-gray);
}

.pagination__page.selected {
  background-color: var(--color-white);
  color: var(--color-dark-gray);
}

.pagination__page.hidden {
  visibility: hidden;
}

.details__title {
  font-size: var(--fs-large);
}

.details__rate {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  font-size: var(--fs-medium);
}

.details__description {
  margin-top: 1rem;
  color: var(--color-gray);
  text-wrap: wrap;
  word-wrap: break-word;
  font-size: var(--fs-medium);
}

.details__image {
  width: 100%;
  aspect-ratio: 2/3;
}

.features {
  margin-top: 1.5rem;
  font-size: var(--fs-medium);
}

.feature__title {
  font-weight: bold;
}

.feature {
  display: flex;
  gap: 0.5rem;
}

.feature + .feature {
  margin-top: 0.5rem;
}

.carousel {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.carousel__arrow {
  cursor: pointer;
  padding: 1rem;
  border: none;
  background-color: transparent;
  color: var(--color-white);
  font-size: 50px;
}

.carousel__slides {
  display: flex;
  gap: 1rem;
}

.similar-films {
  clear: both;
  margin-top: 2rem;
}

.similar-films__heading {
  font-size: var(--fs-large);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .details__image {
    float: right;
    width: 45%;
    margin-left: 1rem;
    aspect-ratio: 2/3;
  }

  .film-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1025px) {
  .details__image {
    float: right;
    width: 30%;
    margin-left: 1rem;
    aspect-ratio: 2/3;
  }

  .film-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
